---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      I ❤️ sharing what I’ve learnt with others.
      <br />
       My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>Python</li>
        <li>R</li>
        <li>Astro SSG</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      When I'm not coding, I like exploring machine mechanics through simulation projects like my Bike Simulator and Slider-Crank app. 
    </p>
    <p class="text-sm font-light">
      
      I'm passionate about traveling, particularly on my bike, blending adventure with tech through my Trip Planner App.
    </p>
    <p class="text-sm font-light">
      Oh, did I mention that I love the idea of behind open source software? 
      It’s a passion that drives much of my work, 
      trying to make a better internet with findings and 101 Guides on IoT (RPi), Linux, Docker...
    </p>
  </div>
</Card>
