---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      I ❤️ sharing what I’ve learnt with others.

    <p class="text-sm font-light">
      I'm passionate about traveling, particularly on Bicycle.
    </p>    
    <p class="text-sm font-light">
      I like exploring machine mechanics through simulation projects like my Bike Simulator and Slider-Crank app. 
    </p>
    My primary tools of choice:
   <ul class="list-disc list-inside">
     <li>Python</li>
     <li>R</li>
   </ul>
 </p>
    <p class="text-sm font-light">
      Oh, did I mention that I love the idea of behind open source software? 
    </p>
  </div>
</Card>
